/* Variables Globales */
:root{
    --primary-color: #f46c32;
    --secondary-color: #ffd251;
    --third-color: #008275;
    --fondo-color: #0a0b0e;
    --fondo-color-1: #141414;
    --fondo-color-2: #331e1d;

    --fuente-principal: "Inter", sans-serif;
    --fuente-secundaria: "Lato", sans-serif;
}
/* Border-Box Global */
html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}
*::before, *::after{
    box-sizing: border-box;
}
/* Estilos Globales */
body{
    background-color: var(--fondo-color-1);
    font-family: var(--fuente-principal);
    font-size: 1.6rem;
    line-height: 1.5;
}
p{
    font-size: 1.8rem;
    font-family: var(--fuente-secundaria);
    color: var(--primary-color);
}
a{
    color: var(--third-color);
    text-decoration: none;
}
img{
    max-width: 100%;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    background-color: var(--fondo-color-1);
}
h1, h2, h3{
    text-align: center;
    color: var(--secondary-color);
    font-family: var(--fuente-principal);
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.4rem;
}
/* Estilos para el Header */
.header{
    display: flex;
    justify-content: center;
    background-color: var(--fondo-color-2);
}
.header__logo{
    margin: 4rem auto;

}

/* Estilos para la Navegacion */
.navegacion{
    display: flex;
    justify-content: center;
    gap: 3rem;
    background-color: var(--fondo-color);
    padding: 2rem;

}
.navegacion__enlace{
    color: var(--third-color);
    font-size: 1.8rem;
    font-family: var(--fuente-principal);
    font-weight: 700;
    text-transform: uppercase;
}
.navegacion__enlace:hover,
.navegacion__enlace--activo{
    color: var(--secondary-color);
}
/* Estilos para el Main */
.contenedor__main{
    padding: 4rem 2rem;
    margin: 1rem auto;
    max-width: 120rem;
}
.grid{
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px){
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
   
}
.sombra{
    background-color: var(--fondo-color);
}
/* Estilos para la Seccion de Productos */
.producto{
    background-color: var(--fondo-color-2);
    padding: 2rem;

}
.producto__img{
    width: 100%;
}
.producto__informacion{
    display: flex;
    flex-direction: column;
    align-items: center;  
}
@media (min-width: 768px){
    .producto__nombre{
        font-size: 2.8rem;
        justify-content: center;
}
    .producto__precio{
        font-size: 2rem;
        color: var(--secondary-color);
}
}
.producto__precio{
    color: var(--secondary-color);
    font-size: 1.8rem;
}
.producto__nombre,
.producto__precio{
    font-family: var(--fuente-secundaria);
    margin: 1rem 0rem;
    line-height: 2.5rem;
    text-align: center;
}

/* Estilos para la Seccion de Graficos */
.grafico{
    min-height: 30rem;
    grid-column: 1 / 3;
    background-size: cover;
    background-position: center;
}
.grafico--camisa{
    grid-row: 2 / 3;
    background-image: url(/img/grafico1.jpg);
}
.grafico--node{
    background-image: url(/img/grafico2.jpg);
    grid-row: 8 / 9;
}
@media (min-width: 768px){
    .grafico--node{
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}
/* Fin Estilos Graficos */
.nosotros{
    display: grid;
    grid-template-rows: repeat(2, auto);
}

@media (min-width: 768px){
    .nosotros{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
}
}

.nosotros__contenedor{

}
.nosotros__imagen{
    grid-row: 1 / 2;
}
@media (min-width: 768px){
    .nosotros__imagen{
        grid-column: 2 / 3;
    }
}
/* Estilos para la Seccion de Nosotros */

/* Fin Estilos para la Seccion de Nosotros */

/* Estilos para el Footer */
.footer{
    background-color: var(--fondo-color);
    color: var(--secondary-color);
    text-align: center;
    padding: .5rem 0rem;
    font-family: var(--fuente-principal);
    height: auto;
}