:root{
    --primary-color: #f46c32;
    --secondary-color: #ffd251;
    --third-color: #008275;
    --fondo-color: #0a0b0e;
    --fondo-color-1: #000000;
    --fondo-color-2: #190d0c;

    --fuente-principal: "Inter", sans-serif;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-style: normal;
}
/* Border-Box Global */
html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}
*::before, *::after{
    box-sizing: border-box;
}
/* Estilos Globales */
body{
    background-color: var(--fondo-color-1);
    font-size: 1.6rem;
    line-height: 1.5;
}
p{
    font-size: 1.8rem;
    font-family: var(--fuente-principal);
    color: var(--primary-color);
}
a{
    color: var(--third-color);
    text-decoration: none;
}
img{
    max-width: 100%;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    background-color: var(--fondo-color-1);
}
h1, h2, h3{
    text-align: center;
    color: var(--secondary-color);
    font-family: var(--fuente-principal);
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.4rem;
}
/* Estilos para el Header */
.header{
    display: flex;
    justify-content: center;
    background-color: var(--fondo-color-2);
}
.header__logo{
    margin: 4rem auto;

}

/* Estilos para la Navegacion */
.navegacion{
    display: flex;
    justify-content: center;
    gap: 3rem;
    background-color: var(--fondo-color);
    padding: 2rem;

}
.navegacion__enlace{
    color: var(--third-color);
    font-size: 1.8rem;
    font-family: var(--fuente-principal);
    font-weight: 700;
    text-transform: uppercase;
}
.navegacion__enlace:hover,
.navegacion__enlace--activo{
    color: var(--secondary-color);
}
/* Estilos para el Main */
.contenedor__main{
    background-color: var(--fondo-color);
    padding: 4rem 2rem;
    margin: 1rem auto;
    max-width: 120rem;
}
/* Estilos para el Footer */
.footer{
    background-color: var(--fondo-color-2);
    color: var(--secondary-color);
    text-align: center;
    padding: 2rem 0rem;
    font-family: var(--fuente-principal);
}